body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input:focus 
{
  outline: none;
  border: solid 1px orange;
}
button:focus 
{
  border: orange solid 3px;
}
